@model IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<body data-aos-duration"1000"dat-aos-delay="100">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center section-bg">
        <div id="hero" class="d-flex align-items">
            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <h1 class="text-center">
                    Welcome to <span>Ars Ltd.</span>
                </h1>
                <br />
                <h3 class="text-center">
                    Success through Excellence!
                </h3>
                <br />
                <div>
                    <a href="/Platform/PlatformPage" class="btn-get-started scrollto">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=DJ3lLQjqhSo" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
                </div>
                <br />
                <br />
                <div class="text-center">
                    <h2>
                        ARS Applied Research Solutions provides high-quality professional advice and tailored support to innovative businesses, research centres and academic institutions to obtain national and EU funding for promising R&D projects.
                        <br />We help researchers and innovators to achieve success by transforming complex funding environments into a sustainable business growth strategy.

                    </h2>
                </div>
            </div>
        </div>
    </section>


    <div id="portfolio mb-3 " class="section-bg">
        <div class="container-fluid p-0">
            <div class="row flex match-to-row">
                @if (Model.Projects.Count() > 0)
                {
                    @for (int i = 0; i < 3; i++)
                    {

                        var project = Model.Projects.ToList()[i];
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="@project.ProjectPhoto" title="@project.Name">
                                <img class="img-fluid " src="@project.ProjectPhoto" alt="..." />
                                <div class="portfolio-box-caption">@project.Name</div>

                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="~/pics/portfolio/fullsize/1.jpg" title="Project Name">
                            <img class="img-fluid" src="~/pics/portfolio/thumbnails/1.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category ">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="~/pics/portfolio/fullsize/2.jpg" title="Project Name">
                            <img class="img-fluid" src="~/pics/portfolio/thumbnails/2.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category ">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="~/pics/portfolio/fullsize/3.jpg" title="Project Name">
                            <img class="img-fluid" src="~/pics/portfolio/thumbnails/3.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category ">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>

                }
            </div>
        </div>
    </div>

</body>

