@{
    ViewData["Title"] = "Home Page";
}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Success through Excellence!</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">
                        ARS Applied Research Solutions provides high-quality professional advice and tailored support to innovative businesses, research centres and academic institutions to obtain national and EU funding for promising R&D projects. We help researchers and innovators to achieve success by transforming complex funding environments into a sustainable business growth strategy.
                        Just share your idea and we will work together to make it happen!<br />
                    </p>
                    <a class="btn btn-primary btn-xl" href="/Projects/Projects">Find Out More</a>
                </div>
            </div>
        </div>
    </header>
<br/>
    <!-- About-->
    <section class="page-section bg-primary" id="#about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've can make project writing more inteligent</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">Start a project from our platform and you will have everything need to get financing up and running in no time! Choose our easy to use forms!</p>
                    <a class="btn btn-light btn-xl" href="/ArsPlatform/PlatformPage">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    <br />
    <!-- Portfolio-->
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/pics/portfolio/fullsize/1.jpg" title="Project Name">
                        <img class="img-fluid" src="~/pics/portfolio/thumbnails/1.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category ">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/pics/portfolio/fullsize/2.jpg" title="Project Name">
                        <img class="img-fluid" src="~/pics/portfolio/thumbnails/2.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category ">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/pics/portfolio/fullsize/3.jpg" title="Project Name">
                        <img class="img-fluid" src="~/pics/portfolio/thumbnails/3.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category ">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/pics/portfolio/fullsize/4.jpg" title="Project Name">
                        <img class="img-fluid" src="~/pics/portfolio/thumbnails/4.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category ">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/pics/portfolio/fullsize/5.jpg" title="Project Name">
                        <img class="img-fluid" src="~/pics/portfolio/thumbnails/5.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category ">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/pics/portfolio/fullsize/6.jpg" title="Project Name">
                        <img class="img-fluid" src="~/pics/portfolio/thumbnails/6.jpg" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
