@{
    ViewBag.Title = "Privacy";
}
<div id="__enzuzo-root" class="container section-bg"></div>
<script src="https://app.enzuzo.com/__enzuzo-privacy-app.js?mode=privacy&apiHost=https://app.enzuzo.com&buttonStyle=%0A%7B%0A%20%20%22buttonWidget%22%3A%20%7B%0A%20%20%20%20%22backgroundColor%22%3A%20%22%23ffffff%22%2C%0A%20%20%20%20%22color%22%3A%20%22%23000000%22%2C%0A%20%20%20%20%22%26%3Ahover%22%3A%20%7B%0A%20%20%20%20%20%20%22backgroundColor%22%3A%20%22%23a4a4a4%22%2C%0A%20%20%20%20%20%20%22color%22%3A%20%22%23000000%22%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A&qt=1645123876022&referral=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJDdXN0b21lcklEIjozNTQ2LCJDdXN0b21lck5hbWUiOiJjdXN0LXpsTU5SUW9iIiwiQ3VzdG9tZXJMb2dvVVJMIjoiIiwiUm9sZXMiOlsicmVmZXJyYWwiXSwiUHJvZHVjdCI6ImVudGVycHJpc2UiLCJpc3MiOiJFbnp1em8gSW5jLiIsIm5iZiI6MTY0NTEyMzg3Nn0.Qp1CgqBXwIbqPp0b5Gc41uM_G0ICLc-NxqduCjXa5lY"></script>
