        <!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">

            <h3>Check our <span>Services</span></h3>
            </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href=""> Horizon2020</a></h4>
                    <p>
                        SME Instrument is part of Horizon 2020, the world's largest funding scheme for research and innovation. We help companies to submit innovation proposals to cover 70% of the costs of various pre-commercial innovation activities.

                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Horizon Europe</a></h4>
                    <p>Horizon Europe is a planned 7-year European Union scientific research initiative meant to succeed the current Horizon 2020 program. The European Commission drafted and approved a plan for the Horizon Europe to raise EU science spending levels by 50% over the years 2021-2027.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Bid-writting</a></h4>
                    <p>Our experts in variety of EU and national funding programmes can support your application journey with high-quality drafting and shaping of your innovative project to fit into the scheme’s requirements and evaluators’ preferences.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Project Management</a></h4>
                    <p>
                        Should your project is successful or you are already implementing an awarded project, leave the administrative burden on us.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">In-house training</a></h4>
                    <p>ARS has organized and implemented more than 100 training events on different funding schemes with more than 95% positive feedback.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">External EU funding office</a></h4>
                    <p>Do you have many promising ideas but lack of internal capacity to monetize them all?</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
