 <!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h3>Our Hardworking <span>Team</span></h3>

        </div>

        <div class="row text-center">
            <div class="col-lg-6 col-md-6 flex " data-aos="fade-up" data-aos-delay="200">
                <div class="member ">
                    <div class="member-img">
                        <img src="~/pics/70125032_407511829899025_772713488983261184_n.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Aneta Koseva</h4>
                        <span>CEO & Project Manager</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="~/pics/_MG_96721.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Evgeni Kosev</h4>
                        <span>Co-Founder and Consultant</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</section><!-- End Team Section -->
