@model List<InvoiceFormModel>
@{
    ViewBag.Title = "Add Invoice";
}
@if (!Model.Any())
{
    <h2 class="text-center">There is no invoices for this customer yet!</h2>
}
else
{
    <partial name="_PartialInvoices" model="@Model" />
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
