@model AddProgrammFormModel
@{
    ViewBag.Title = "Add new Programm";
}

<div class="col-6 offset-3 container section-bg" data-aos="fade-up">
    <h2 class="heading-margin text-center">@ViewBag.Title</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="ProgrammName">ProgrammName</label>
            <input asp-for="ProgrammName" class="form-control" placeholder="The Programm name">
            <span asp-validation-for="ProgrammName" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Url">Url</label>
            <input asp-for="Url" class="form-control" placeholder="Url">
            <span asp-validation-for="Url" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description"class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Save" />
    </form>
    <br/>
</div>
@section Scripts{ 
<partial name="_ValidationScriptsPartial"/>
}
