<div class=" table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Programm Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        <a href=@Model.Url>
                            <div style="height:100%;width:100%">
                                @Model.ProgrammName
                            </div>
                        </a>
                    </td>
                    <td>
                        @if (Model.Description != null)
                        {
                            @Model.Description;
                        }
                        </td>
                </tr>
        </tbody>
    </table>
</div>
<div class="button mb-3">
    <a href="/Programms/All" class="btn btn-primary btn-sm mb-3">Back</a>
</div>