@model List<ContractServiceModel>
@{
    ViewBag.Title = "Add Invoice";
}
<div class="col-12  section-bg" data-aos="fade-up">
    @if (!Model.Any())
    {
        <br />
        <h2 class="text-center">There is no contracts for this customer yet!</h2>
    }
    else
    {
        <partial name="_PartialContracts" model="@Model" />
    }
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
