<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title - ARS_ProjectSystem</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/favicon.png" rel="icon">
    <link href="~/pics/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizLand - v1.2.1
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <a href="/Home/Index" class="logo mr-auto"><img src="~/pics/ARS.jpg" height="40" alt="CoolBrand"></a>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Home/Team" class="nav-link text-dark">Team</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Service">Services</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Testimonials">Testimonials</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Charts">Charts</a></li>
                    }
                    else
                    {
                        @if (User.IsAdmin())
                        {
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="All">Customers</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="All">Projects</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Programms" asp-action="All"> Programms</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Proposals" asp-action="All"> Proposals</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="All">Employees</a></li>

                        }
                        else
                        {
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Platform" asp-action="PlatformPage">Platform</a></li>
                        }
                    }

                    <partial name="_LoginPartial" />

                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header>
    <br />
    <br />
    <br />

    <div class="container">
        @if (TempData.ContainsKey(WebConstants.GlobalMessageKey))
        {
            <div class="alert alert-success text-center alert-dismissible" role="alert">
                @TempData[WebConstants.GlobalMessageKey]
            </div>}
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counterup/counterup.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/venobox/venobox.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script scr="~/js/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
