
    <br/>
    <div class="container px-4 px-lg-5 section-bg">
        <br/>
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-3"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-3">Make a new Proposal for Step one</h3>
                    <p class="text-muted mb-0">Input data for the project Phase 1</p>
                    <br />
                    <br />
                    <a class="btn btn-primary btn-xl" href="/Proposals/Add">Let's make a new form</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-3"><i class="bi bi-building fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-3">Up-to-Date Information for your </h3>
                    <p class="text-muted mb-0">All information about your company </p>
                    <br />
                    <br />
                    <a class="btn btn-primary btn-xl" href="/Customers/All">Please give us info</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-3"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-3">Ready to read your Proposal Step one</h3>
                    <p class="text-muted mb-0">You can read your proposale</p>
                    <br />
                    <br />
                    <a class="btn btn-primary btn-xl" href="/Proposals/All">Find Out More</a>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>

        </div>

    </div>

