@model List<ProposalServiceModel>
@{
    ViewBag.Title = "All Proposals"; 
}
@if (!Model.Any())
{
<h2 class="text-center">No proposals found by the given criteria!</h2>            
}

<div class=" table">
    <h2 class="heading-margin text-center">All Proposals</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Budget</th>
                @if (User.Identity.IsAuthenticated && User.IsAdmin())
                {
                    <th scope="col">Action</th>
                }
           </tr>
        </thead>
        <tbody>
            @foreach (var proposal in Model)
            {
                <tr>
                    <td>@proposal.Name</td>
                    <td>@proposal.CustomerName</td>
                    <td>@proposal.Budget</td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Proposals/Details?proposalId=@proposal.Id" class="btn btn-primary btn-sm">More</a>
                             @if (User.IsAdmin())
                             {
                                 
                                 <a asp-controller="Proposals" asp-action="Edit" asp-route-id="@proposal.Id" class="btn btn-primary btn-sm">Edit</a>
                                 <a asp-controller="Proposals" asp-action="AddEmployeeToProposal" class="btn btn-primary btn-sm">Add employee</a>
                             }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (User.Identity.IsAuthenticated && User.IsAdmin())
    {
        <a asp-controller="Proposals" asp-action="Add" class="btn btn-primary btn-sm">Add new Proposal</a>
    }
</div>