<div class=" table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Proposal Name</th>
                <th sope="col">CreatedOn</th>
                <th sope="col">Budget</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.CreatedOn</td>
                <td>@Model.Budget</td>

            </tr>
        </tbody>
    </table>
</div>
<div class="button mb-3">
    <a href="/Proposals/All" class="btn btn-primary btn-sm mb-3">Back</a>
</div>

