@model FileInputModel
@{ 
    ViewData["Title"] = "AllCustomerLogos";
}
<div class="container section-bg">
    <div class="container-fluid p-0 ">
        <div class="row flex-1 match-to-row">
            @foreach (var name in this.ViewBag.Names)
            {

                <div class="mx-auto">
                    <img style="margin: 20px 20px 20px " height="45" src="@Url.Action("GetImage","Customers",new{name=name})" />
                </div>

            }
        </div>
    </div>
    <br />
    @if (User.IsAdmin())
    {<div>
            <form enctype="multipart/form-data" asp-controller="Customers" asp-action="UploadImage">
                <input asp-for="FormFile" />
                <button type="submit" class="btn btn-primary">Upload!</button>
            </form>
        </div>
        <br />  }

</div>
